<section>
  <div class="container">
    <h1><%= category.name %></h1>
    <div class="row">
    <% brands.forEach((brand) => { %>
      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
      <a href="/brands/<%= brand.id %>">
      <h5><%= brand.name %></h5>
      <img class="img-thumbnail img-fluid" src="<%= brand.mainimage %>"
      alt="<%= brand.name %>">
      </a>
      </div>
      <% }); %>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-secondary" href="/categories/<%= category._id %>/brands/new" role="button">Add Brand</a>
        <a class="btn btn-secondary" href="/categories/" role="button">Go Back</a>
      </div>
</div>
</section>
