<section>
  <h1>Brands</h1>
  <h1><%= category.name %></h1>
  <ul>
    <% category.brands.forEach((brand) => { %>
      <li>
      <a href="/brands/<%= brand.id %>">
      <img class="img-thumbnail" src="<%= brand.mainimage %>"
      alt="<%= brand.name %>" height="200px" width="200px">
      <p><%= brand.name %></p></a>
      </li>
      <% }); %>
    </ul>

    <form action="/categories/<%= category._id %>/brands/new">
      <input type="submit" value="Add Brand">
    </form>
  </section>
